<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>EJERCICIO3</h1><br>
    <h3>INGRESAR PRECIO EN DÓLARES</h3>
    <form action="/Precios" method="post">
        <label for="PrecioA">Ingrese el precio de la primera camisa</label>
        <input type="number" name="PrecioA" id="PrecioA"><br><br>
        <label for="PrecioB">Ingrese el precio de la segunda camisa</label>
        <input type="number" name="PrecioB" id="PrecioB"><br><br>
        <label for="PrecioC">Ingrese el precio de la tercera camisa</label>
        <input type="number" name="PrecioC" id="PrecioC"><br><br>
        <label for="PrecioD">Ingrese el precio de la cuarta camisa</label>
        <input type="number" name="PrecioD" id="PrecioD"><br><br>
        <label for="PrecioE">Ingrese el precio de la quinta camisa</label>
        <input type="number" name="PrecioE" id="PrecioE"><br><br>
        <input type="submit" value="Calcular"><br>
    </form>
    <h1>Respuesta:  {{Conversion}} </h1>
</body>
</html>