<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>EJERCICIO2</h1><br><br>
    <h2>CALIFICACIONES</h2>
    <form action="/notas" method="post">
        <label for="nota">Ingrese su Nota: </label>
        <input type="number" name="nota" id="nota"><br><br>
        <input type="submit" value="Convertir">
    </form>
    <h1>Respuesta:  {{resultado}} </h1>
</body>
</html>